
/*
dark blue:  #FDFFFC
white:      #FDFFFC
turq:       #2EC4B6
hl orange:  #FF9F1C
hl pink:    #E71D36
*/

html {
    font-size: 150%;
}

body {
    background-color: #011627;
    color: #FDFFFC;
    font-family: 'Roboto', 'Helvetica Neue', 'Helvetica', 'Arial', sans-serif;
}

.sliderNumber {
    margin-left: 10px;
    width: 8em;
    text-align: right;
    font-family: monospace;
    font-weight: bold;
}

.fireButton {
    touch-action: none;
    width: 300px;
    height: 250px;
    font-size: 48pt;
    padding: 10px;
}

.slidecontainer {
    touch-action: none;
    display: flex;
    align-items: center;
    justify-content: center;
    margin: 60px;
    height: 150px;
}

.slider {
    -webkit-appearance: none;
    width: 100%;
    height: 15px;
    margin-left: 1em;
    border-radius: 10px;
    background: #E71D36;
    outline: none;
    opacity: 0.5;
    -webkit-transition: .2s;
    transition: opacity .2s;
}

.slider:hover {
  opacity: 1;
}

.slider::-webkit-slider-thumb {
    -webkit-appearance: none;
    appearance: none;
    width: 100px;
    height: 100px;
    border-radius: 50%;
    background: #FF9F1C;
    cursor: pointer;
}

.slider::-moz-range-thumb {
    width: 100px;
    height: 100px;
    border-radius: 50%;
    background: #FF9F1C;
    cursor: pointer;
}

a {
  color: #9b4dca;
  text-decoration: none;
}

a:focus, a:hover {
  color: #606c76;
}

h1,
h2 {
  color: #FF9F1C;
}

button {
  background-color: black;
  color: #FF9F1C;
  padding: 15px 32px;
  margin-top: 30px;
  text-align: center;
  font-weight: bold;
  font-size: 16px;
  border: none;
}

button:hover {
    background-color: #500000;
}
